<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{meeting.description}}">
  <ion-content class="padding background">
      <div class="list card">
        <div class="item">
          <p><i class="icon ion-person-stalker"> </i> Friends : <span ng-repeat="user in meeting.users">{{user.first_name}} {{user.last_name}},</p>
          <p><i class="icon ion-clock"> </i> Date : {{meeting.date}}</p>
          <p><i class="icon ion-checkmark-round"> </i>Address : {{meeting.address}}  Longitude : {{meeting.longitude}} </p>
        </div>  
       
      </div> 
  </ion-content>
</ion-view>
