<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Create a new meeting </h1> 
      <button class="button button-secondary" ng-click="modal.hide()">Cancel</button>
   </ion-header-bar>

  <ion-content class="padding background">           
    <div class="item">
     <label class="item item-input">
     <span class="input-label"> Name of the meeting</span>
     <input type="text" ng-model="description">
     </label> 
    </div>

  <label class="item item-input">
    <span class="input-label">Select date </span>
    <input type="date" ng-model="meetingDate">
  </label>


  <ion-checkbox ng-repeat="user in users" ng-model="user.checked" ng-true-value="1" ng-false-value="0" ng-checked="user.checked == 1"> {{user.first_name}} {{user.last_name}} </ion-checkbox>

    <button class="button button-block button-positive button-dark icon left ion-compose">
       Let's find out the best location
    </button>

 </ion-content>
</ion-modal-view>    

 
 //une fois la fonction du controller et du service fonctionnelles il faut ajouter ng-click="createMeeting(description, users, meetingDate)" au button 