<ion-view view-title="Account">
    <ion-content class="padding background">
    <ion-list>
  
          <h2> My Profile </h2>
           <div class="item item-avatar">


    <img src="http://images.google.fr/imgres?imgurl=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F1980294624%2FDJT_Headshot_V2.jpg&imgrefurl=https%3A%2F%2Ftwitter.com%2Frealdonaldtrump&h=400&w=400&tbnid=UQL0-SGszRZIQM%3A&vet=1&docid=w6enoD0t4BG4OM&ei=mx0qWMTrNYzSU6i5qYAJ&tbm=isch&client=safari&iact=rc&uact=3&dur=2085&page=1&start=10&ndsp=22&ved=0ahUKEwiEpa-SiqnQAhUM6RQKHahcCpAQMwg-KAwwDA&bih=652&biw=1280">
    <h3>Donald Trump</h3>
    <p>1600 Pennsylvania Ave NW, Washington, DC 20500, USA</p>
  </div>

    </ion-list>
  </ion-content>
</ion-view>
