<ion-view view-title="Home">
  <ion-content class="padding background">
  <center> <img src="img/location-icon.png" class="logo" /><center> 
    <div class="card">
     <div class="item item-text-wrap">
     <h2> ParisCentre</h2>
     <p> Find out the most convenient location to meet with your friends ! </p>
     </div>
    </div> 

    <button class="button button-block button-positive button-dark icon left ion-paper-airplane" ng-click="openModal()">
       Create a new meeting
    </button>

  </ion-content>

</ion-view>
